.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listaF{
    margin: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-items: flex-start;
}
.teste{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    list-style: none;
}


.listaF strong{
    padding-bottom: 15px;
    color: #FFF;
    font-size: 20px;
}

.listaF a{
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #1a1a1a;
    width: 100%;
    height: 30px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.imgIcon{
    max-height: 300px;
    width: 300px;
}
.imgInitial{
    width: 100%;
    height: 600px;
}