.header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #1a1a1a;
    height: 50px;
    width: 100%;
}
.header a{
    margin-left: 20px;
    text-decoration: none;
    font-style: normal;
    color: #FFF;
} 
