.header{
    display: flex;
    align-items: center;
    background-color: #1a1a1a;
    height: 60px;
    width: 100%;
}

.BotaoHome{
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;    
}

.Pesquisar{
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 35px;
    
}
.search{
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 35px;
    background-color: #333333;
    border-radius: 5px;
    border-color: #333333;
    color: white;
}

.header a{
    text-decoration: none;
    font-style: normal;
    color: #FFF;
} 
