.header{
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #1a1a1a;
    height: 60px;
    width: 100%;
}

.BotaoHome{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 60px;
    font-size: 30px;
}

.Pesquisar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 100px;
    width: 100%;
}
.search{
    align-items: flex-end;
    justify-content: flex-end;
    border-style: none;
    background-color: #333333;
    color: white;
    width: 350px;
    height: 35px;
    border-radius: 5px;
}

.header a{
    text-decoration: none;
    font-style: normal;
    color: #FFF;
} 
